<!DOCTYPE html>
<html  lang = " fr ">
	<head>
		<meta  charset = " UTF-8 ">
		<meta  http-equiv = " X-UA-Compatible "  content = " IE=edge ">
		<meta  name = " viewport "  content = " width=device-width, initial-scale=1.0 ">
		<title>Document</title>
	</head>
	<body>

		{% pour la  catégorie  dans les  catégories %}
			<h2>
				{{ catégorie . nom }}
			</h2>
			<h3>
				{{ catégorie . couleur }}
			</h3>
			<heure>
		{% endfor %}

	</body>
</html>